
<ul class="nav nav-tabs">


    <li ng-class="{active: profileCtrl.checkTab(2)}">
        <a href="#" ng-click="profileCtrl.changeTab(2)">View Team</a>
    </li>

    <li ng-class="{active: profileCtrl.checkTab(3)}">
        <a href="#"  ng-click="profileCtrl.changeTab(3)">View Code</a>
    </li>

    <li ng-class="{active: profileCtrl.checkTab(4)}">
        <a href="#" ng-click="profileCtrl.changeTab(4)">sign out</a>
    </li>
</ul>


<div class="loginForm" ng-show="profileCtrl.currentTab == 2">

    <ranking-view></ranking-view>
</div>

<div class="registerForm" ng-show="profileCtrl.currentTab == 3">

    <code-view></code-view>
</div>

<div class="aboutUs" ng-show="profileCtrl.currentTab == 4">
    <h1>

        inja vaaaass maaaasss B-)
    </h1>
</div>